label {
    margin-top:20px;
    display:block;
    letter-spacing:.75px;
    font-weight:bold;
}

h1{
	text-align: center;
	color: green;
}

p{
	color: blue;
}

form {
    margin: 30px;
    text-align: center;
    border-style: ridge;
    padding: 15px;
}

input, select{
	width:20%;
	height:3em;
	margin: 1em;
}

input[type='submit']{
	margin: 3em;
    font: 1.3em bold;
    width: 20%;
    height: 5em;
    border-radius: 50px;
}

div{
    text-align: left;
    width: 40%;
    margin: auto;
    padding: 2em;
    position: relative;
    left: 8%;
}

nav ul li:last-child{
	border-style: none;
	margin: 0px 14px;
}

nav ul li form{
	border-style: outset;
    border-radius: 2em;
    margin-left: -0.6em;
    padding: 12px;
    margin: 0px;
}