h1, h2, p{
	text-align: center;
	margin: 8px;
}

div{
	margin: 1em;
}

div p{
	font-size: 0.7em;
}


div img{
	height: 400px;
	width: 300px;
}

#courses{
	display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}